<!DOCTYPE html>
<html>
<!-- this is the head -->
<head>
	<title>About Joseph</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Dhurjati" rel="stylesheet">
</head><!-- this is the body -->
<body id="background_image">
	<nav>
		<h1 class="site-title">Joseph Gil</h1>
		<ul>
			<li class="active-page">
				<a href="#">Home</a>
			</li>
			<li>
				<a href="#">About</a>
			</li>
			<li>
				<a href="#">Contact</a>
			</li>
		</ul>
		<div class="clear"></div>
	</nav>
<div class="container">
	<div>
		<h1>Who is Joseph? <a href="https://www.facebook.com/joseph.gil.102" target="_blank"><img id="profilePhoto" src="img/profile.JPG"></a></h1>
		<p>My name is Joseph Gil and I am a 16 year old high school kid that goes to <a href="https://arroyovalley.sbcusd.com/"><em>Arroyo Valley High School</em></a> in San Bernardino, CA. I would say that I'm pretty smart guy that enjoys learning how to code websites in this class. I am currently learning HTML and CSS and will later work on more complex coding and programming. I want to be a cyber secutity specialist someday and get a job that pays a lot.</p><!-- <p>I was born to a poor family in rubidoux, my father was a gangster and has been in prison as long as I could remember and I haven't lived with my mother since I was three years old. I was basically an orphan untill the age of ten when I was adopted by my grandpa on my fathers side. I can honestly say that I've had every opportunity to fail, and am proud to be able to say, I have not.</p> -->
	</div>
	<hr>
	<div>
		<h2>1/26/2018</h2>
		<p>today is a friday, I used to not like Fridays because I didnt like to go home but now that my grandpa and my brother both have jobs, the house is all mine. And since nither of them get home before 10 pm, I get to do whatever I like, wherever I like, whenever I like (as long as it is before 10 pm of course). So lately I've been staying at school as long as possible doing everything from homework to just watching movies with my french teacher, <a href="https://www.facebook.com/maria.s.mota.52" target="_blank">Mrs. Mota</a>, but mostly homework :( .</p>
	</div>
	<hr>
	<div>
		<h2>1/30/2018</h2>
		<p>Today is Tuesday and we learned about bootstrap and spacing. Every page is divided into 12 equaly-sized columns and as the screen gets smaller we can control the way our webpage looks at diferent sized screens by using these columns to specify how much space certain elements should take up in the webpage. We also learned about bottons and pop-ups and all different sorts of elements in a web page. I think I understood like 30% of it.</p>
	</div>
	<hr>
	<div>
		<h2>2/1/18</h2>
		<p>Today is Thursday and it's been a long one. Everyday I wake up at 6:00 AM, go to school (late to first period), eat lunch with friends, hang out with my french teacher after school, and most days take the buss to the university (I do all my homework on the bus), and finally get home at around 11:00 PM. I finally get to sleep at midnight. all in all, I sleep for 6 hours roughly and am awake for 17. I honestly don't know how I continue to function.</p>
	</div>
	<hr>
	<div>
		<h2>2/27/18</h2>
		<p>It's been a while since I made a paragraph for this website, I suppose I should talk about what I've been up to sice the begining of this month. Lets see, I've been working with json recently and operationg sites on the back-end of a server. It's very hard and complicated but everyone keeps telling me it's the "simple way to do it", if this is the simple way, I don't want to see the hard way. In a way I understand it but when I try to put it into practice... lets just say it dosn't want to do what I tell it to.</p>
	</div>
</div>
	<hr>
	<div class="container">
		<h2 class="center">Send Me a Message</h2>
		<form method="POST" action="/process-form">
			<div class="form-group">
				<label class="label" for="userName">Name</label> <input class="form-control" name="userName" id="userName" placeholder="Jane Doe" type="text">
			</div>
			<div class="form-group">
				<label class="label" for="userEmail">Email address</label> 
				<input class="form-control" name="userEmail" id="userEmail" placeholder="example@email.com" type="email">
			</div>
			<div class="form-group">
				<label class="label" for="userPhone">Phone Number</label> 
				<input class="form-control" name="userPhone" id="userPhone" placeholder="1234567890" type="tell">
			</div>
			<div class="form-group">
				<label class="label" for="userMessage">Your Message</label> 
				<textarea class="form-control" name="userMessage" id="userMessage" placeholder="Type you message here..." rows="8"></textarea>
			</div>
			<div>
				<button type="submit" name="submit" class="btn btn-succsess">Submit</button>
			</div>
		</form>
		<br>
		<br>
	</div>

	<!-- <footer>
        <h1>Contact me</h1>
        <nav>
            <ul>
                <li>
                    <a href="josephandrewgil@gmail.com" target="_blank">Email</a>
                </li>
                <li>
                    <a href="https://www.facebook.com/joseph.gil.102" target="_blank">Facebook</a>
                </li>
                <li>
                    <a href="https://twitter.com/Stranger_anger" target="_blank">Twitter</a>
                </li>
            </ul>
        </nav>
    </footer> -->
</body>
</html>