nav {
	background-color: #584846;
	padding: 0 20px;
}

nav ul {
	list-style: none;
	float: right;
}

nav ul li {
	display: inline-block;
	padding: 20px 10px;
}

 nav ul li a:hover {
 	color : #d35400;
 }

nav ul li a, nav ul li a:visited {
	color: #f1f1f1;
	text-decoration: none;
}
.clear {
	clear: both;
}
h1.site-title {
	display: inline-block;
	color: #d35400;
	padding-top: 20px;
}
li.active-page {
	background: rgba(0,0,0,.2);
}